<my-header> </my-header>
<div class="pages">
<input type="text" id=titlebox placeholder="title" ng-model="post.title">
<div>
    <select ng-model="post.categoryid">
        <!--<option ng-repeat="cat in categories" value="">Select Category</option>-->
        <option value="{{ cat.id }}" ng-repeat="cat in categories">{{ cat.name }}</option>
    </select>  
     
</div>

<textarea maxlength="5000" ng-model="post.content"></textarea>
<br>
<button  ng-click="updatePost()">Update</button>
<br> 
<button ng-click="home()"> Home </button>
</div>